@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Volkhov:400italic,700);

.navbar {
  background-color: rgba(0, 135, 0, .95);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.navbar a {
  color: rgb(255, 255, 255);
  transition: ease-in-out color .15s;
}
.navbar a:hover {
  color: rgb(0, 75, 0);
  text-decoration: none;
}

.navbar-brand {
    font-size: 22px;
}

.nav-item {
    font-size: 16px;
}

.foot {
  background-color: rgba(0, 135, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.foot h5 {
  color: rgb(255, 255, 255);
  transition: ease-in-out color .15s;
}
.foot a {
  color: rgb(255, 255, 255);
  transition: ease-in-out color .15s;
}
.foot a:hover {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-color:rgb(240, 255, 200);
  color: #5a5a5a;
  font-family: "Volkhov", serif;
  font-size: 13px;
  font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    min-width: 320px;
}

a {
  color: #000;
  text-decoration: none;
}

h1, h3 {
  color: rgb(0, 100, 0);
}

h1, h5 {
  margin: 0px 20px 30px 20px;
  font-size: 70px;
  font-family: "Volkhov", serif;
  text-align: center;
  font-weight: 700;
  text-shadow: 1px 1px 3px #e0d1bc;
}

h2 {
  margin: 20px 20px 30px 20px;
  font-size: 50px;
  font-family: "Volkhov", serif;
  text-align: center;
  font-weight: 700;
  text-shadow: 1px 1px 3px #e0d1bc;
}

h3 {
  margin: 20px 20px 20px 20px;
  font-size: 30px;
  font-family: "Volkhov", serif;
  text-align: center;
  font-weight: 700;
  text-shadow: 1px 1px 3px #e0d1bc;
}

h4 {
  margin: 20px 20px 30px 20px;
  font-size: 42px;
  font-family: "Volkhov", serif;
  text-align: center;
  font-weight: 700;
  text-shadow: 1px 1px 3px #e0d1bc;
}

h1 span, h5 {
  font-size: 18px;
  display: block;
  font-style: italic;
  color: #997f5a;
  font-weight: 400;
  text-shadow: 0px 1px 1px #fff;
}

h6 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.ml5px {
  margin-left: 5px;
}

.ml33 {
  margin-left: 36%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    height: 30%;
    margin: auto;
}

/* Declare heights because of positioning of img element */
.carousel-inner {
  height: 100%;
}
.carousel-item {
  height: 100%;
  /*background-color: #777;*/
}
.carousel-item.active h2{
  font-size: 50px;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;

}

.carousel-fade .carousel-item {
  display: block;
  position: relative;
  opacity: 0;
  transition: opacity .75s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-color: rgb(0,135,0);
  background-size: 65%;
  border-radius: 100%;
}

.carousel-control-next-icon {
  margin-left: auto;
}

.carousel-control-prev-icon {
  margin-right: auto;
}

.opaco {
   opacity: 0.4;
}

.hidden {
     opacity:0;
}

.visible {
     opacity:1;
}

/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


