html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map{
  height: 300px;
  width: 400px;  
}

.galleria{ 
	max-width: 600px;
 height: 500px; background: rgb(240, 255, 200);}


.lead{
	text-align : justify;
}

.justify{
	text-align : justify;
}